<a href="https://colab.research.google.com/github/soniya1993/Practice-Python-Code/blob/main/practice_sheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#fabonacci sereis
num=int(input())
n1,n2=0,1
count=0
if num<=0:
  print("print positive number")
elif num==1:
  print(n1)
else:
  while count<num:
    print(n1)
    nth=n1+n2
    n1=n2
    n2=nth
    count+=1

7
0
1
1
2
3
5
8

In [ ]:
def prime(x):
  for i in range(2,x):
    if x%i==0:
      print("no")
      break
  else:
    print("yes")

In [ ]:
prime(71)

yes

In [ ]:
#armstrong
def armstrong(x):
  temp=x
  result=0
  order=len(str(x))
  while temp>0: 
    digit=temp%10
    result+=digit**order
    temp//=10
    return "It's an Armstrong Number" if (result == x) else "No, It's not an Armstrong Number"

In [ ]:
def palidrome(x):
  if x==x[::-1]:
    print("number is palidrome")
  else:
    print("not a palidrome")

In [ ]:
palidrome("soniya")

not a palidrome

In [ ]:
def mono(num):
  return "increasing" if all(num[i]<num[i+1] for i in range(len(num)-1))else\
         "decresing" if all(num[i+1]<num[i] for i in range(len(num)-1))else\
         "not a monomatic"

In [ ]:
def test(str,pre):
  return [x  for x in str  if x.startswith(prefix)]

In [ ]:
def Reversing(Arr):
    return [ele for ele in reversed(Arr)]

In [ ]:
Arr=[1,2,3,4,5,6,7,7,7,8]
ele=[3,4]
{i for i in Arr if i not in ele }

{1, 2, 5, 6, 7, 8}

In [ ]:
def Break_Chunks(Given_List, n):
    return [Given_List[ele:ele+n] for ele in range(1,len(Given_List),2)]

Given_List = [10, 45, 20, 62, 47, 85, 12, 63, 24, 78, 10,5]
n = 2
print(Break_Chunks(Given_List, n))

[[45, 20], [62, 47], [85, 12], [63, 24], [78, 10], [5]]

In [ ]:
def Swap_Last_with_First(Arr):
    Arr[0], Arr[-1] = Arr[-1], Arr[0]
    return Arr

In [ ]:
Given_List = [10, 45, 20, 62, 47, 85, 12, 63, 24, 78, 10,5]
[Given_List[i:i+2]  for i in range(1,len(Given_List),3)]

[[45, 20], [47, 85], [63, 24], [10, 5]]

In [ ]:
def Occurence_of_Element(Given_List, Element):
    return Given_List.count(Element)

In [ ]:
Given_List = [5, 6, [], 7, 8, 9, [], 12, [], 4, []]
result = list(filter(None, Given_List))
print(result)

[5, 6, 7, 8, 9, 12, 4]

In [ ]:
def Cumulative_Sum(Given_List):
    Result = []
    sum = 0
    for i in range(0, len(Given_List)):
        sum = sum+Given_List[i]
        Result.append(sum)
    return Result

In [ ]:
lst = [10, 45, 20, 20,20,20,63, 24, 78, 10,5]
set(filter(lambda x:lst.count(x)>1,lst))

{10, 20}

In [ ]:
def Increment_Numeric_String(Test_list, n):
    Result = []
    for ele in Test_list:
        if ele.isdigit():
            Result.append(str(int(ele)+n))
        else:
            Result.append(ele)
    return Result

A string is happy if every three consecutive characters are distinct. Write a Python program to find two indices making a given string unhappy.

In [ ]:
def test(s):
  for i in range(len(s)-2):
    if s[i]==s[i+1]:
      return [i,i+1]
    if s[i]==s[i+2]:
      return [i,i+2]

In [ ]:
def exp(n,a):
  x=0
  m=1
  while n!=m:
    x=x+1
    m=m*a
  return x

In [ ]:
exp(625,5)

4

SELECT (name || '(' || SUBSTR(occupation,1,1) || ')') FROM occupations ORDER BY name;
SELECT ('There are a total of ' || COUNT(occupation) || ' ' || LOWER(occupation) || 's' || '.') FROM occupations GROUP BY occupation ORDER BY COUNT(occupation), occupation ASC;

In [ ]:
def test(s):
    import re
    return re.search(r"\[(\[\])\]", s).group(0)

In [ ]:
brackets = "]][][[]]]"
test(brackets)

'[[]]'

In [ ]:
def test(strs):
  return ["".join(c for c in text if c.lower() in "aeiou") + (text[-1] if text[-1].lower() == "y" else "")
            for text in strs]

In [ ]:
A = [[1, 2, 3],
[4, 5, 6],
[7, 8, 9]]

[A[i][len(A)-1-i] for i in range(len(A))]

[3, 5, 7]

In [ ]:
def test(a,b):
  r=range(a,b)
  return bin(round(sum(r)/len(r)))
test(4,5)

'0b100'

In [ ]:
def test(s):
  for i in range(len(s)-2):
    if s[i]==s[i+1]:
      return [i,i+1]
    if s[i]==s[i+2]:
      return [i,i+2]
test("happy")

[2, 3]

In [ ]:
 a="()(())"
 b= list(a)
 print(b)
    stack = []
    for i, c in enumerate(b):
        if c == "(":
            stack.append(i)
        else:
            b[stack[-1]] = i
            #a[i] = stack.pop()
    #return a

['(', ')', '(', '(', ')', ')']

In [ ]:
def test(strs):
        return ["".join(c for c in text if c.lower() in "aeiou") + (text[-1] if text[-1].lower() == "y" else "")
            for text in strs]

In [ ]:
num=["sbhjwbcx","dbbhwcb","jbhjx"]
test(num)

['', '', '']

In [ ]:
x = int(input())
y = int(input())
z = int(input())
N = int(input())
#Solve
arr = [[X, Y, Z] for X in range(x+1) for Y in range(y+1) for Z in range(z+1) if X + Y + Z != N]
#Output
print(arr)

2
3
4
10
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 0, 3], [0, 0, 4], [0, 1, 0], [0, 1, 1], [0, 1, 2], [0, 1, 3], [0, 1, 4], [0, 2, 0], [0, 2, 1], [0, 2, 2], [0, 2, 3], [0, 2, 4], [0, 3, 0], [0, 3, 1], [0, 3, 2], [0, 3, 3], [0, 3, 4], [1, 0, 0], [1, 0, 1], [1, 0, 2], [1, 0, 3], [1, 0, 4], [1, 1, 0], [1, 1, 1], [1, 1, 2], [1, 1, 3], [1, 1, 4], [1, 2, 0], [1, 2, 1], [1, 2, 2], [1, 2, 3], [1, 2, 4], [1, 3, 0], [1, 3, 1], [1, 3, 2], [1, 3, 3], [1, 3, 4], [2, 0, 0], [2, 0, 1], [2, 0, 2], [2, 0, 3], [2, 0, 4], [2, 1, 0], [2, 1, 1], [2, 1, 2], [2, 1, 3], [2, 1, 4], [2, 2, 0], [2, 2, 1], [2, 2, 2], [2, 2, 3], [2, 2, 4], [2, 3, 0], [2, 3, 1], [2, 3, 2], [2, 3, 3], [2, 3, 4]]

In [ ]:
def test(n,a):
    m = 1
    x = 0
    while m != n:
        x += 1
        m *= a
    return x

a = 2
n = 1024
print("a = ",a,": n = ",n)
print("Find an integer exponent x such that a^x = n:")    
print(test(n,a))
a = 3
n = 81

a =  2 : n =  1024
Find an integer exponent x such that a^x = n:
10

In [ ]:
def prime(x,y):
  prime_list=[]
  for i in range(x,y):
    if i==0 or i==1:
      continue
    else:
      for j in range(2,i):
        if i%j==0:
          break
      else:
        prime_list.append(i)
  return prime_list

In [ ]:
prime(2,15)

[2, 3, 5, 7, 11, 13]

In [ ]:
def harmonic_sum(n):
  if n < 2:
    return 1
  else:
    return 1 / n + (harmonic_sum(n - 1))

In [ ]:
def test(parens):
    return [len(s.split(')')[0]) for s in parens.split()]

In [ ]:
phone= 212-555-1212 
a=concat(left(phone,3),'***')

NameError: ignored

In [ ]:
x = 'abcd@gmail.com'
for i in x:
     print(i)

a
b
c
d
@
g
m
a
i
l
.
c
o
m

In [ ]:
def f1():
     x=100
     print(x)
     x=+1
f1()

100

In [ ]:
def Recurgcd(a, b):
	low = min(a, b)
	high = max(a, b)

	if low == 0:
		return high
	elif low == 1:
		return 1
	else:
		return Recurgcd(low, high%low)
print(Recurgcd(12,14))

2

In [ ]:
def triangle(n):
   trow = [1]
   y = [0]
   for x in range(max(n,0)):
      print(trow)
      trow=[l+r for l,r in zip(trow+y, y+trow)]
   return n>=1
triangle(6)